.contain {
  height: 100vh;
}

.container {
  max-width: 500px;
}

.card .card-action {
  padding: 6px 26px;
  border-top: 1px solid rgba(126, 87, 194, 1);
}

.mrg {
  margin-top: 30px;
}

.mrg-8tb {
  margin: 8px 0px;
}

.delete {
  color: brown !important;
}

.clear-m-p {
  margin: 0;
  padding: 0;
}

.pad {
  padding: 1px 17px;
}

.input-field [type="text"] {
  color: white;
}

.toast-container {
  background-color: brown !important;
}
